body {
    color: #fff;
    background: #2a2d33;
    font-family: sans-serif;
}

main {
    display: flex;
}

header {
    padding: 1vh 30px;
}

header h1 {
    font-size: 36px;
    font-weight: 800;
    margin: 2.5vh 0;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
footer .copyright {
    font-size: 16px;
    color: #666;
    text-align: center;
}
footer .copyright a {
    color: #999;
    transition: 0.3s;
}
footer .copyright a:hover {
    color: #d4d4d4;
}
footer .copyright:before {
    content: '©';
}

.rs-school-link {
    width: 50px;
}

.github-link {
    color: #999;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.github-link:hover {
    color: #d4d4d4;
}

@media (max-width: 940px) {
    main {
        display: block;
    }
}
