@font-face {
    font-family: Arial;
    src: url(fonts/ARIAL.TTF);
}

@font-face {
    font-family: Georgia;
    src: url(fonts/georgia.ttf);
} 

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

header {
    width: 100%;
    height: 908px;
    background: url("icons/start-screen-background.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 90px;
}

.on_white {
    height: 120px;
    background: #FFFFFF;
    justify-content: center;
}

.header_container {
    width: 93.75%;
    max-width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.logo_title_on_white {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
}

.logo_subtitle_on_white {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    margin: 0;
}

.navigation {
    width: 443px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger_menu {
    display: none;
}

.nav_item {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
    margin-top: 3px;
    border-bottom: 3px solid rgba(241, 205, 179, .0);
    transition: 0.4s;
    white-space: nowrap;
}

.nav_item_on_white {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
    margin-top: 3px;
    border-bottom: 3px solid rgba(241, 205, 179, .0);
    transition: 0.4s;
}

.active {
    border-bottom: 3px solid rgba(241, 205, 179, 1);
    color: #FAFAFA;
    margin-top: 3px;
    cursor: default;
}

.active_on_white {
    border-bottom: 3px solid rgba(241, 205, 179, 1);
    color: #292929;
    margin-top: 3px;
    cursor: default;
}

.nav_item:hover {
    color: #FAFAFA;
    transition: 0.4s;
}

.nav_item_on_white:hover {
    color: #292929;
    transition: 0.4s;
}

main {
    width: 100%;
    margin: 0;
}

.not_only_container {
    width: 93.75%;
    max-width: 1200px;
    height: 80.18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_start_screen {
    width: 38.34%;
    height: 44.23%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start ;
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
}

.text_start_screen {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 0;
}

.button_primary {
    box-sizing: border-box;
    border: 0;
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #292929;
    cursor: pointer;
    transition: 0.4s;
}

.button_primary:hover {
    background: #FDDCC4;
    transition: 0.4s;
}

.about {
    width: 100%;
    height: 588px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.about_container {
    width: 93.75%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    gap: 10%;
}

.about_content {
    width: 35.84%;
    height: 66.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

pre,
h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.text_about {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0;
}

.pets {
    width: 100%;
    height: 877px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_pets {
    width: 100%;
    height: 1342px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pets_container {
    width: 93.75%;
    max-width: 1200px;
    height: 79.48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.our_pets_container {
    width: 100%;
    max-width: 1200px;
    height: 86.59%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_pets {
    width: 100%;
    height: 80.04%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.paginator {
    width: 28.34%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.4s;
}

.card_pets {
    height: 46.77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.4s;
}

.center {
    margin: 0 3%;
}

.card_pets:hover,
.card:hover {
    background: #FFFFFF;
    transition: 0.4s;
}

.card_pets:hover .button_secondary,
.card:hover .button_secondary {
    background: #FDDCC4;
    border: 2px solid rgb(241, 205, 179, 0);
    transition: 0.4s;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.button_secondary {
    box-sizing: border-box;
    border: 0;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179, 1);
    padding: 13px 43px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: inherit;
    cursor: pointer;
    transition: 0.4s;
}

.paginator_button:hover,
.arrow_right:hover,
.arrow_left:hover,
.button_secondary:hover {
    background: #FDDCC4;
    border: 2px solid rgb(241, 205, 179, 0);
    transition: 0.4s;
}

.paginator_button,
.arrow_right,
.arrow_left {
    width: 48px;
    height: 48px;
    border: 2px solid rgb(241, 205, 179, 1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.inactive {
    border: 2px solid #CDCDCD;
    cursor: default;
}

.paginator_button.inactive h3 {
    color: #CDCDCD;
}

.inactive:hover {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    cursor: default;
    background: inherit;
}

.current {
    background: #F1CDB3;
}

.help {
    width: 100%;
    height: 611px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help_container {
    width: 93.75%;
    max-width: 1200px;
    height: 70.54%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.list_container {
    width: 85.73%;
    height: 65.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: none;
}

.list1 {
    width: 100%;
    display: flex;
    gap: 120px;
}

.list2 {
    width: 83.65%;
    display: flex;
    gap: 120px;
}

.list_item {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help_icons {
    width: 60px;
}

.donation {
    width: 100%;
    height: 462px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation_container {
    width: 93.75%;
    max-width: 915px;
    height: 61.04%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.donation_content {
    width: 41.53%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.credit_card {
    width: 83.94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    text-decoration: none;
    transition: 0.4s;
}

.credit_card:hover {
    background: #FDDCC4;
    transition: 0.4s;
}

.donation_information {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin: 0;
}

footer {
    width: 100%;
    height: 350px;
    background: url("icons/footer-background.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer_container {
    width: 93.75%;
    max-width: 1200px;
    height: 88.57%;
    display: flex;
    justify-content: space-between;
}

.contacts {
    width: 23.2%;
    height: 75.48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
}

.locations {
    width: 25.17%;
    height: 75.48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
}

.mail,
.phone,
.location_boston,
.location_london {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.h2_on_dark {
    color: #FFFFFF;
}

.h3_on_dark {
    color: #F1CDB3;
}

@media screen and (max-width: 1050px) {
    header {
        height: 1165px;
        gap: 60px;
        justify-content: space-between;
    }

    .header_container {
        max-width: 708px;
        margin-top: 30px;
    }

    header.on_white .header_container{
        margin-top: 0;
    }

    .not_only_container {
        max-width: 708px;
        height: 1015px;
        flex-direction: column;
    }

    .content_start_screen {
        width: 64.98%;
        height: 322px;
        gap: 42px;
        padding-bottom: 0;
    }

    .button_primary {
        align-self: center;
    }

    #big_dog {
        width: 80.37%;
        align-self: flex-end;
    }

    .about {
        height: 1048px;
        align-items: center;
    }

    .about_container {
        height: 868px;
        width: 56%;
        max-width: 708px;
        flex-direction: column-reverse;
        gap: 9.22%;
    }

    .about_content {
        width: 100%;
    }

    .pets {
        height: 877px;
    }

    .our_pets {
        height: 1733px;
    }

    .pets_container {
        height: 697px;
        max-width: 708px;
    }

    .our_pets_container {
        height: 1603px;
        max-width: 708px;
    }

    .our_pets_container pre {
        padding-top: 25px;
    }

    .slider_pets {
        height: 1365px;
        width: 81.93%;
        row-gap: 30px;
        padding-bottom: 10px;
    }

    .card_pets {
        height: 435px;
    }

    #pet_7,
    #pet_8,
    #pet_3 {
        display: none;
    }

    .paginator {
        width: 48.03%;
    }

    .center {
        margin: 0 0 0 4%;
    }

    .help {
        height: 779px;
    }

    .help_container {
        height: 599px;
    }

    .list_container {
        display: none;
    }

    .list {
        height: 449px;
        max-width: 630px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 55px;
    }

    .list_item {
        width: 170px;
        height: 113px;
    }

    .donation {
        height: 783px;
    }

    .donation_container {
        height: 603px;
        max-width: 708px;
        flex-direction: column-reverse;
    }

    .donation_content {
        height: 282px;
        width: 53.68%;
    }

    footer {
        height: 639px;
    }

    .footer_container {
        height: 609px;
        max-width: 640px;
        flex-wrap: wrap;
        row-gap: 65px;
    }

    .contacts {
        height: 234px;
        width: 44%;
        padding-top: 0;
    }

    .locations {
        height: 234px;
        width: 47%;
        padding-top: 0;
    }

    #footer_puppy {
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .burger_menu {
        width: 30px;
        height: 22px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .line {
        border: 1px solid #F1CDB3;
    }

    .navigation {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    header {
        height: 823px;
    }

    .header_container {
        max-width: 87.5%;
    }

    .navigation {
        display: none;
    }

    .not_only_container {
        height: 673px;
        max-width: 93.75%;
    }

    .content_start_screen {
        height: 296px;
        width: 100%;
        align-items: center;
    }

    h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-align: center;
    }

    .text_start_screen {
        text-align: center;
    }

    #big_dog {
        width: 86.67%;
    }

    .about {
        height: 974px;
    }

    .about_container {
        height: 890px;
        width: 93.75%;
        max-width: 93.75%;
        padding-bottom: 0;
        gap: 0;
        justify-content: space-between;
    }

    .about_content {
        height: 496px;
        align-items: center;
    }

    #about_pets {
        width: 86.67%;
    }

    h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .text_about {
        width: 90%;
        text-align: justify;
    }
}