body {
    margin: 0px;
    background-color: aliceblue;
    transition: 0.4s;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

.result {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.header {
    height: 60px;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1.7%;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    border: 4px solid black;
}

.blocked {
    pointer-events: none;
}

.time-wrapper,
.turns-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
}

.new-game {
    width: 160px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
    background-color:darksalmon;
    cursor: pointer;
    transition: 0.4s;
}

.range-table:hover,
.new-game:hover {
    letter-spacing: 1px;
    background-color: rgb(248, 173, 148);
}

.bombs,
.flags {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flags-icon,
.bombs-icon {
    width: 25px;
}

.bomb,
.flag {
    font-size: 25px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-color: rgb(166, 233, 135);
    border-width: 1px;
    font-weight: bold;
    font-size: 16px;
}

.open-bomb {
    cursor: auto;
    background-color: rgb(228, 68, 68);
}

.open-tile {
    cursor: auto;
    background-color: aliceblue;
}

.tile:disabled {
    border-color: inherit;
    color: inherit;
}

.right {
    background-image: url(./assets/icons/free-icon-flag-4908307.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    margin-top: 10px;
}

.themes,
.amount-bombs,
.difficalty {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.sound-item,
.themes-item,
.difficalty-item {
    line-height: 20px;
    background-color:darksalmon;
    margin-top: 5px;
    cursor: pointer;
    color: inherit;
}

.amount-bombs-item {
    cursor: pointer;
}

.sound-item:disabled,
.difficalty-item:disabled,
.themes-item:disabled {
    cursor: auto;
    opacity: 0.7;
}

.sound {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 6px 0;
}

.sound-item {
    width: 60px;
}

.range-table {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 10px;
    background-color:darksalmon;
    margin-top: 5px;
    cursor: pointer;
    color: inherit;
    transition: 0.4s;
}

.table {
    position: fixed;
    top: -100%;
    left: calc(50% - 240px);
    width: 480px;
    height: 363px;
    margin: auto;
    z-index: 10;
    background-color:rgb(77, 175, 207);
    transition: 0.4s;
    border-spacing: 0px;
}

.visible {
    top: 0;
}

.table-item {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    height: 30px;
}

.table > tr {
    vertical-align: top;
}