body {
    margin: 0;
    background-color:rgb(100, 100, 100);
    display: flex;
}

.gameWrapper {
    width: 85%;
    height: 100vh;
    margin: auto;
}

.levelsWrapper {
    width: 15%;
    height: 100vh;
    background-color: rgb(50, 50, 50);
}

.level-title {
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 10%;
    color: rgb(150, 150, 150);
}

.level {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 150%;
    padding: 0 10%;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.reset-button {
    display: block;
    width: 80%;
    font-size: 14px;
    padding: 5px 0;
    margin: 20px auto;
    color: rgb(75, 75, 75);
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.current {
    background-color:rgb(100, 100, 100);
}

.header {
    display: flex;
    justify-content: center;
}

.task-name {
    font-size: 24px;
    color: rgb(150, 150, 150);
}

.game-table {
    width: 90%;
    height: 20vh;
    margin: auto;
    perspective: 800px;
    transform-style: flat;
}

.editor {
    display: flex;
    width: 90%;
    height: 50vh;
    margin: 5vh auto;
    border: 5px solid rgb(50, 50, 50);
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.year {
    font-size: 16px;
    color: rgb(150, 150, 150);
}

.github {
    color: rgb(150, 150, 150);
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.github:hover {
    color:rgb(200, 200, 200);
}

.rs-school-img {
    width: 50px;
}