.markup {
    display: flex;
    flex-direction: column;
    width: calc(100% - 35px);
    padding: 5px 10px;
    line-height: 150%;
    background-color: rgb(75, 75, 75);
    color: rgb(150, 150, 150);
}

.markup plate,
.markup bento, 
.markup apple, 
.markup orange, 
.markup pickle {
    padding-left: 20px;
    cursor: default;
}

.markup plate, 
.markup bento {
    display: flex;
    flex-direction: column;
}

.markup apple {
    color: rgba(255, 80, 80, 0.7);
}

.markup .apple-hover {
    color: rgb(255, 80, 80);;
}

.markup orange {
    color: rgba(255, 172, 0, 0.7);
}

.markup .orange-hover {
    color: rgb(255, 172, 0);
}

.markup pickle {
    color: rgba(43, 255, 0, 0.7);
}

.markup .pickle-hover {
    color: rgba(43, 255, 0);
}

.markup bento {
    color: rgba(255, 150, 120, 0.7);
}

.markup .bento-hover {
    color: rgb(255, 150, 120);
}

.markup plate {
    color: rgba(250, 250, 250, 0.7);
}

.markup .plate-hover {
    color: rgb(250, 250, 250);
}