section plate {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 10px 5px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

section bento {
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 3px solid rgb(78, 20, 20);
    box-shadow: 0px 10px 5px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

section apple {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: red;
    box-shadow: 0px 6px 3px rgba(0,0,0,.2);
}

section orange {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: orange;
    box-shadow: 0px 6px 3px rgba(0,0,0,.2);
}

section pickle {
    width: 20px;
    height: 60px;
    border-radius: 20px;
    background-color: green;
    box-shadow: 0px 6px 3px rgba(0,0,0,.2);
}

#nice {
    height: 80px;
    width: 80px;
    border: solid 10px rgb(132, 253, 10, 0.8);
}

.small {
    width: 30px;
    height: 30px;
}

.markup plate, .markup bento, .markup apple, .markup orange, .markup pickle {
    padding-left: 20px;
    cursor: default;
}

.markup plate, .markup bento {
    display: flex;
    flex-direction: column;
}