.garage-container,
.winners-container {
    height: 100%;
    margin-top: 20px;
}

.hide {
    display: none;
}

.create-block,
.update-block,
.buttons-block {
    display: flex;
    gap: 1%;
    margin-top: 10px;
}

.heading,
.sub-heading {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
}

.sub-heading {
    font-size: 18px;
}

.car-container {
    margin-top: 10px;
    color: white;
    border-bottom: dotted 2px white;
}

.car-buttons,
.car-with-controls {
    display: flex;
    align-items: center;
}

.car-with-controls {
    margin-top: 10px;
}

.garage {
    margin-bottom: 20px;
}

.garage .button {
    margin-right: 13px;
}

.track {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.car-instance {
    position: relative;
    z-index: 100;
}

.flag {
    margin-right: 70px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    color: white;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
    font-size: 40px;
    font-weight: 700;
}